---
import SliderSwiper from "../../components/slide/SliderSwiper";
import Slider from "../../components/slide/Slider.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { Icon } from 'astro-icon/components';
---

<Slider breakPoints={false} />
<MainLayout esconder="hidden" >
    <section class="bg-black bg-opacity-70 ">
        <div class="galeria_container">

                    <a href="/" class=" top-[45px] right-[8px] z-20 md:top-4 md:right-16 absolute "><Icon name="tabler:circle-x-filled" class="text-4xl text-yellow-50/60" /> </a>
                    <!-- <Slider breakPoints={false} />     -->

            </div>
        </section>
        <!-- <Slider  /> -->
    </MainLayout>