---
import MainLayout from "../layouts/MainLayout.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout title="Rio do Fogo">
  <h1 class="">Nhaiiim</h1>
  <section
    class="h-80 w-screen max-w-screen-2xl flex items-center justify-end p-8 bg-gradient-to-l from-preto-escuro to-transparent relative"
  >
    <div class="absolute right-0 top-12 bottom-10 flex items-center pr-4">
      <svg
        viewBox="0 0 402 202"
        width="100%"
        height="100%"
        transform="translate(-8, 0)"
      >
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <!-- De verde para amarelo -->
            <stop offset="0%" style="stop-color:green;stop-opacity:1"></stop>
            <stop offset="100%" style="stop-color:yellow;stop-opacity:1"></stop>
          </linearGradient>
        </defs>

        <rect width="400" height="2" x="0" y="200" fill="url(#grad1)"></rect>
        <rect width="2" height="200" x="400" y="2" fill="url(#grad1)"></rect>
      </svg>
    </div>
    <div class="text-4xl w-[50%] items-end flex rtl leading-30 m-7 md:text-6xl">
      <h1>BEM VINDO AO RIO DO FOGO</h1>
    </div>
  </section>
  <section    class="text-4xl w-screen max-w-screen-2xl relative h-80 flex items-start justify-start p-8 bg-gradient-to-r from-preto-escuro to-transparent md:text-6xl"
  >
    <h1 class="mt-5">NOSSA NATUREZA É BELA</h1>
    <div class="absolute left-0 top-0 flex items-start justify-start pr-4">
      <svg
        viewBox="0 60 402 202"
        width="100%"
        height="100%"
        transform="scale(-1, -1) translate(-20, 0)"
      >
        <defs>
          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <!-- De verde para amarelo -->
            <stop offset="0%" style="stop-color:green;stop-opacity:1"></stop>
            <stop offset="100%" style="stop-color:yellow;stop-opacity:1"></stop>
          </linearGradient>
        </defs>

        <rect width="400" height="2" x="0" y="200" fill="url(#grad1)"></rect>
        <rect width="2" height="200" x="400" y="2" fill="url(#grad1)"></rect>
      </svg>
    </div>
	<div>

	</div>
</section>
 
</MainLayout>
