---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Rio Catolé Lounge " description="Landing page do Rio Catolé Lounge">
<div
  class="w-screen object-fill -z-10 absolute overflow-hidden flex items-center justify-center"
>
  <video
    autoplay
    loop
    muted
    playsinline
    class="w-full h-full object-cover max-w-screen-2xl"
    transition:persist
  >
    <source src="video1.mp4" type="video/mp4" />
    Seu navegador não suporta a tag de vídeo.
  </video>
</div>
<section
  class="h-80 w-screen max-w-screen-2xl flex items-center justify-end p-8 relative"
>
  <div
    class="text-4xl w-[50%] items-end flex rtl leading-30 m-7 md:text-6xl border-b-2 border-r-2 pr-4 pb-4 border-gradient border-[#B2C582]"
  >
    <h1>BEM VINDO AO RIO CATOLÉ LOUNGE</h1>
  </div>
</section>
<section
  class="text-4xl w-screen max-w-screen-2xl relative px-8 bg-gradient-to-t from-black to-transparent md:text-6xl"
>
  <h1
    class="mt-5 pt-6 border-l-2 border-t-2 pl-4 border-gradient border-[#B2C582]"
  >
    NOSSA NATUREZA É BELA!
  </h1>
</section>
</MainLayout>