---
const images = ['1', '2', '3', '4', '5', '6', '7', '8']
---

<!-- <div id="carousel-example" class=" p-9 w-full h-96 relative flex items-center  overflow-x-scroll  bg-black"> -->
  <!-- Carousel wrapper -->
  <div class=" gap-6 rounded-lg grid md:grid-cols-3  lg:grid-cols-4 my-10">
    <!-- Map through images -->
    {images.map((image) => (
      <div id={`carousel-item-${image}`} class=" ">
        <img
          src={`/img${image}.png`}
          class="h-72 w-80 shadow-2xl shadow-black rounded-xl hover:scale-105 transition-transform  duration-300"
          alt="..."
        />
      </div>
    ))}



  </div>


<!-- </div> -->

 