---

import { Icon } from 'astro-icon/components';

interface Props {
  cel: string;
  cep: string;
  endereco: string;
}

const { cel, cep, endereco } = Astro.props;
---

<footer class=`bg-preto-escuro text-white w-[100%] p-4 min-h-[150px] flex items-center justify-center`>
  <small class="flex flex-col gap-1 items-center justify-center h-[100% ] pt-2">
    <p>{endereco}, Cep {cep}</p>
    <p>Contato: {cel}</p>
    <a href="https://www.instagram.com/riocatole/?igsh=bnBvbDZrb2drMnl0" target="_blank" class="flex text-lg gap-2 items-center hover:opacity-50 transition-opacity duration-500"><Icon name='teenyicons:instagram-solid' />riocatole</a>
  </small>
</footer>
