---
import { Icon } from 'astro-icon/components';
---

<nav class="sticky inset-x-0 top-4 z-50 flex w-[95%] flex-wrap text-sm md:flex-nowrap md:justify-center " >
    <div class="relative mx-5 w-full rounded-[36px] border border-yellow-100/40 bg-yellow-50/60 px-4 py-1 backdrop-blur-md dark:border-neutral-700/40 dark:bg-neutral-800/80 dark:backdrop-blur-md flex items-center justify-between md:px-5 lg:px-8 xl:mx-auto">
        <a href="/" class="text-4xl ">
        <Icon name="tabler:menu-2" />
        </a>
        <ul class="flex gap-2 text-preto-escuro font-custom font-semibold">
            <li class="hover:cursor-pointer hover:opacity-70 transition-opacity duration-300 delay-75"><a href="/">HOME</a></li>
            <li class="hover:cursor-pointer hover:opacity-70 transition-opacity duration-300 delay-75"><a href="/galeria">GALERIA</a></li>
        </ul>
    </div>
</nav>

